<mt:setvarblock name="page_title"><__trans phrase="Check TBPing&apos;s alive"> (<$mt:var ratio$>%)</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form name="param" method="post" action="<$mt:var script_url$>">
    <input type="hidden" name="__mode" value="check_tbping_alive" />
    <input type="hidden" name="blog_id" value="<$mt:var blog_id$>" />
    <input type="hidden" name="unpublish" value="<$mt:var unpublish$>" />
    <input type="hidden" name="junk" value="<$mt:var junk$>" />
    <input type="hidden" name="delete" value="<$mt:var delete$>" />
    <input type="hidden" name="rebuild" value="<$mt:var rebuild$>" />
    <input type="hidden" name="next" value="<$mt:var next$>" />
<p><$mt:var title$><br />(<a href="<$mt:var url$>"><$mt:var url$></a>)</p><p><$mt:var action$></p>
</form>
<script type="text/javascript">document.forms['param'].submit();</script>

<mt:include name="include/footer.tmpl">
