<mt:setvar name="page_title" value="<__trans phrase="Check TBPing&apos;s alive">">
<mt:setvar name="position_actions_bottom" value="1">

<mt:setvarblock name="system_msg">
  <div id="msg-block">
    <mt:if name="done">
        <mtapp:statusmsg
            id="done"
            class="success">
                <__trans phrase="Done.">
        </mtapp:statusmsg>
    </mt:if>
  </div>
</mt:setvarblock>



<mt:include name="include/header.tmpl">

<form method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="__mode" value="check_tbping_alive" />
    <input type="hidden" name="blog_id" value="<$mt:var blog_id$>" />
    <input type="hidden" name="next" value="0" />

<fieldset>
    <h3><__trans phrase="Error"></h3>
    <mtapp:setting
        id="actions"
        label="<__trans phrase="Actions">">
<ul>
  <li><input type="checkbox" name="unpublish" value="1" checked="checked" />&nbsp;<__trans phrase="Published TrackBacks"> &raquo; <__trans phrase="Unpublish TrackBack(s)"></li>
  <li><input type="checkbox" name="junk" value="1" checked="checked" />&nbsp;<__trans phrase="Unpublished TrackBacks"> &raquo; <__trans phrase="Junk TrackBacks"></li>
  <li><input type="checkbox" name="delete" value="1" checked="checked" />&nbsp;<__trans phrase="Junk TrackBacks"> &raquo; <__trans phrase="Delete"></li>
</ul>
    </mtapp:setting>

<mt:ignore>
    <mtapp:setting
        id="optional"
        label="<__trans phrase="Optional">">
<ul>
  <li><input type="checkbox" name="rebuild" value="1" checked="checked" />&nbsp;<__trans phrase="Publish Again"></li>
</ul>
    </mtapp:setting>
</mt:ignore>
</fieldset>

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Begin">"
        class="primary-button"
        ><__trans phrase="Begin"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

<mt:include name="include/footer.tmpl">
